* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/************************* utilities *************************/
.layout {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
}
.margin-section {
    margin-bottom: 1.5rem;
}
.padding-section {
    padding: 3rem 0 1rem;
}
h1 {
    font-size: 2rem;
    color: #9593e7;
    padding-bottom: 1.5rem;
}
h2 {
    padding-bottom: 1.5rem;
}
h3 {
    padding-bottom: 1.5rem;
}
p {
    padding-bottom: 1.5rem;
    line-height: 1.5rem;
    color: lightslategray;
}
.text-center {
    text-align: center;
}
a {
    color: inherit;
}
.btn {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0.8rem 3rem;
    margin-bottom: 2rem;
    border-radius: 40px;
    cursor: pointer;
}
.img {
    width: 100%;
    height: 236px;
    background-color: white;
    border-radius: 20px;
}
.container {
    margin: 0 auto 2rem;
}
.round-container {
    border-radius: 20px;
    padding: 1.5rem 2rem 0;
    margin-bottom: 2rem;
}
.bg-blue {
    background-color: #0084fd;
}
.bg-lightblue {
    background-color: #b9dbfe;
}
.bg-green {
    background-color: #caefdb;
}
.bg-red {
    background-color: #fed2d1;
}
.bg-yellow {
    background-color: #ffe7c3
}
.bg-lightpurple {
    background-color: #d5d4f4;
}
.bg-purple {
    background-color: #9692e6;
}
.bg-white {
    background-color: white;
}

/************************* header *************************/
.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.8rem;
    padding: 1rem 0;
    margin-bottom: 3rem;
}
header nav {
    display: none;
}

/************************* main *************************/
/* Application */
.bg-lightblue h2 {
    color: #0084fd;
}
.bg-lightblue .btn {
    background-color: #0084fd;
}
.bg-lightblue .img {
    border-radius: 20px 20px 0 0;
}
#Application .round-container > i {
    font-size: 5rem;
    margin-bottom: 1.5rem;
}
.bg-green h2,
.bg-green i {
    color: #54c688;
}
.bg-red h2,
.bg-red i {
    color: #fe898a;
}
.bg-yellow h2,
.bg-yellow i {
    color: #fbbf66;
}
.bg-lightpurple h2,
.bg-lightpurple i {
    color: #9693e4;
}

/* Planning */
#Planning h2 {
    color: white;
}
#Planning .container p {
    color: white;
}
#Planning .container p:last-child {
    padding-bottom: 0;
}
#Planning .bg-white h2 {
    color: #555555;
}

/* Partners */
#Partners h3 {
    padding-top: 1rem;
    text-transform: uppercase;
}
#Partners h2 {
    color: #9692e6;
}
#Partners .container p {
    padding-bottom: 0;
}
#Partners .img {
    max-width: 236px;
    margin: 0 auto;
}

/* benefits */
#Benefits h2 {
    color: white;
}
#Benefits h3 {
    color: #9593e7;
}
.number {
    font-size: 1.5rem;
    color: #9593e7;
    padding-bottom: 1.5rem;
}

/* AboutUs */
#AboutUs h3 {
    font-size: 1.5rem;
    color: #9593e7;
}
#AboutUs p:last-child {
    padding-bottom: 0;
}
#AboutUs .img {
    max-width: 236px;
}
#AboutUs .btn {
    border-radius: 8px;
    margin-bottom: 0;
}

/* GetStarted */
#GetStarted h3 {
    text-transform: uppercase;
    color: lightslategray;
}
#GetStarted h2,
#GetStarted p {
    color: white;
}
#GetStarted h1 {
    font-size: 3rem;
    color: #fac06b;
}
#GetStarted .btn {
    color: #9593e7;
}
#GetStarted p:last-child {
    padding-bottom: 0;
}

/************************* footer *************************/
footer {
    background-color: #555555;
    padding: 3rem 0 1.5rem;
}
footer p {
    color: white;
}